asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-jazzmin==3.0.3
django-widget-tweaks==1.5.1
djangorestframework==3.16.1
methodism==0.3.5
pillow==12.1.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
